@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

.global{
    display: flex;
    justify-content: center;
    width: 100%;
}

.tela-chat{
    width: 375px;
    height: 667px;
    background-color: #f3f3f3;
    position: relative;
}

.barra{
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    

    display: flex;
    justify-content: space-between;
}

.superior{
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.inferior{
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    align-items: center;
}

.logo{
    width: 75px;
    height: 53px;
    margin-left: 22px;
    margin-top: 16px;
}

.people{
    width: 42px;
    height: 31px;
    margin-top: 25px;
    margin-right: 22px;
}

.aviao{
    width: 26px;
    height: 26px;
    margin-right: 18px;
}

input {
    background-color: #FFFFFF;
    margin-left: 16px;
    border: none;
  
    width: 340px;
    height: 80px;
}

::placeholder{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
}

.mensagens{
    width: 375px;

    height: 507%;
}

.mensagem{
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
}

.formato-texto{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    font-weight: 400;

    display: flex;
    align-items: center;

}

.tempo{
    color: #aaaaaa;
    font-weight: 400;
    margin-left: 8px;

}

.remetente-destinatario{
    color: #000000;
    font-weight: 700;
    margin-left: 4px;

}

.para{
    padding-left: 4px;
}

.status{
    width: 100%;
    height: 40px;
    background-color: #dcdcdc;
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
}

.hora{
    color: #aaaaaa;
    font-weight: 400;
    margin-left: 8px;
}

.user{
    color: #000000;
    font-weight: 700;
    margin-left: 4px;
    margin-right: 4px;
}

.entrou-saiu{
    
}



